body,
html {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  font-family: Roboto, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

/* Remove a marca d'agua dos gráficos */
g[class$='creditgroup'] {
  display: none !important;
}
